[submodule "opennpy"]
	path = opennpy
	url = https://github.com/amiller/opennpy
[submodule "wxpy3d"]
	path = wxpy3d
	url = https://github.com/amiller/wxpy3d
[submodule "rtmodel"]
	path = rtmodel
	url = https://github.com/amiller/rtmodel
[submodule "SensorKinect"]
	path = SensorKinect
	url = https://github.com/ph4m/SensorKinect
[submodule "OpenNI"]
	path = OpenNI
	url = https://github.com/OpenNI/OpenNI
[submodule "libfreenect"]
	path = libfreenect
	url = https://github.com/amiller/libfreenect
